<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/login" method="POST">
  <div class="w-full min-h-screen bg-[url('images/resize.png')] bg-no-repeat bg-cover px-10 py-5 relative bg-center">
    <nav class="flex items-center ">
      <img src="images/sng.png " class="w-40 cursor-pointer" >
      
    </nav>
    <div class="text-white mt-44 ">
    
      <h2 class="text-5xl font-bold leading-normal">Admin  Dashboard</h2>
      <p class="text-2xl mt-2">Solution For All Your Hostel Needs</p>
     
    </div>
  </div>
  </form>
</body>
</html>
